<div class="row">
  <div class="col">Trang chủ</div>
</div>
<div class="row">
  <div class="col-3 category">
    <h4>DANH MỤC SẢN PHẨM</h4>
    <br />
    <a href="#" *ngFor="let item of products">{{ item.Ten_LSP }}</a>
  </div>
  <div class="col-9">
    <div class="cover-h3">
      <h3>Danh mục sản phẩm</h3>
    </div>

    <div class="row">
      <div class="col" *ngFor="let item of products">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-{{ item.Giam_Gia }}%</p>
          </div>
          <div class="img">
            <img
              class="card-img-top"
              src="https://firebasestorage.googleapis.com/v0/b/test-img-fa3b9.appspot.com/o{{
                item.Hinh
              }}?alt=media&token=11d84b6e-ba6e-46b1-944c-8f1138dc415c"
              alt="Card image cap"
            />
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ item.Ten_SP }}</h4>
            <p class="card-price">
              {{
                item.Thanh_Tien.toLocaleString('vi', {
                  style: 'currency',
                  currency: 'VND'
                })
              }}
            </p>
            <p class="card-original-price">
              {{
                item.Don_Gia.toLocaleString('vi', {
                  style: 'currency',
                  currency: 'VND'
                })
              }}
            </p>
            <a routerLink="details" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
