<div class="row">
  <div class="col">Trang chủ</div>
</div>
<div class="row">
  <div class="col-3 category">
    <h4>DANH MỤC SẢN PHẨM</h4>
    <br />
    <a href="#">Rau củ quả</a>
    <a href="#">Rau củ quả</a>
    <a href="#">Rau củ quả</a>
    <a href="#">Rau củ quả</a>
    <a href="#">Rau củ quả</a>
    <a href="#">Rau củ quả</a>
  </div>
  <div class="col-9">
    <div class="cover-h3">
      <h3>Danh mục sản phẩm</h3>
    </div>

    <div class="row">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a routerLink="details" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="cover">
            <p class="discount">-40%</p>
          </div>

          <img
            class="card-img-top"
            src="http://www.azspagirls.com/files/2010/09/orange.jpg"
            alt="Card image cap"
          />
          <div class="card-block">
            <h4 class="card-title">Orange</h4>
            <p class="card-price">40,000đ</p>
            <p class="card-original-price">70,000đ</p>
            <a href="#" class="btn btn-primary" id="btn-them">
              Thêm
            </a>
          </div>
        </div>
      </div>

      <h3>danh muc san pham</h3>
      <div class="row">
        <div class="col">san pham 1</div>
        <div class="col">san pham 2</div>
        <div class="col">san pham 3</div>
        <div class="col">san pham 4</div>
        <div class="col">san pham 5</div>
      </div>
    </div>
  </div>
</div>
