<div class="wrapper">
  <div class="row">
    <div class="form-signin col-lg-8 col-10">
      <form action="" #passwordValidation="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-heading">Xin chào,</h2>
        <h2>Đăng nhập bằng số điện thoại</h2>
        <input
          type="text"
          name="phonenumber"
          id="phonenumber"
          placeholder="Nhập số điện thoại"
          [(ngModel)]="loginArray.phone"
          #phone="ngModel"
          [pattern]="phonePtn"
          minlength="10"
          maxlength="11"
          required
          autofocus=""
        />
        <section
          class="alert alert-danger"
          *ngIf="
            (phone.touched || passwordValidation.submitted) &&
            phone.errors?.required
          "
        >
          Số điện thoại không được trống!
        </section>
        <section
          class="alert alert-danger"
          *ngIf="
            (phone.touched || passwordValidation.submitted) &&
            phone.errors?.pattern
          "
        >
          Số điện thoại phải dài từ 10 đến 11 số và bắt đầu bằng số 0
        </section>
        <div class="input-group">
          <div class="input-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Nhập mật khẩu"
              [(ngModel)]="loginArray.password"
              #Password="ngModel"
              minlength="8"
              maxlength="32"
              [pattern]="passwordPtn"
              required
            />
            <span>
              <i id="toggler" class="far fa-eye"></i>
            </span>
          </div>
          <section
            class="alert alert-danger"
            *ngIf="
              (Password.touched || passwordValidation.submitted) &&
              Password.errors?.required
            "
          >
            Mật khẩu không được để trống
          </section>
          <section
            class="alert alert-danger"
            *ngIf="
              (Password.touched || passwordValidation.submitted) &&
              Password.errors?.pattern
            "
          >
            Mật khẩu phải dài từ 8 đến 12 ký tự, bao gồm chữ, số, chữ viết hoa
            và ký tự đặt biệt
          </section>
        </div>
        <button class="btn btn-lg" type="submit" *ngIf="!tkLogin">
          Đăng nhập
        </button>
        <section class="alert alert-success" *ngIf="tkLogin">
          Đăng nhập thành công!
        </section>
      </form>
    </div>
    <div class="bglogin col-lg-4 col-1">
      <a class="title navbar-brand" href="#">NongSanSach.vn</a>
    </div>
  </div>
</div>
