<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-contact">
          <h2>THÔNG TIN LIÊN HỆ</h2>
          <P>Website thương mại điện tử Bán các sản phẩm nông sản sạch</P>
          <p>
            <i class="fa fa-map-marker-alt"></i>
            Địa chỉ: Nguyễn Xí, Bình Thạnh, TP.Hồ Chí Minh
          </p>
          <p>
            <i class="fa fa-phone-alt"></i>
            Điện thoại: 090887662
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            Email: sanphamnongsansach@gmail.com
          </p>
        </div>
      </div>
      <div class="col">
        <div class="footer-link">
          <h2>TRUY CẬP NHANH</h2>
          <a href="#">Trang Chủ</a>
          <a href="#">Giỏ hàng</a>
          <a href="#">Đăng nhập</a>
          <a href="#">Đăng ký</a>
        </div>
      </div>
      <div class="col">
        <div class="footer-contact">
          <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
          <div class="footer-social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-menu">
    <div class="f-menu">
      <a href="">Terms of use</a>
      <a href="">Privacy policy</a>
      <a href="">Cookies</a>
      <a href="">Help</a>
      <a href="">FQAs</a>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col">
        <p>
          &copy;
          <a href="#">Your Site Name</a>
          , All Right Reserved.
        </p>
      </div>
      <div class="designed col">
        <p>
          Designed By
          <a href="#">KHANG</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
