<div class="row">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Số điện thoại</th>
            <th>Chức năng</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of staff">
            <td>{{item.Ma_NV}}</td>
            <td>{{item.Ten_NV}}</td>
            <td>{{item.SDT}}</td>
            <td>
              <button type="button" class="btn btn-primary">{{FilterAccount(item.KichHoat)}}{{Acces}}</button>
            </td>
      </tbody>
    </table>
  </div>