<div class="row">
    <button class="btn btn-success" style="margin-left: 20px;" data-toggle="modal" data-target="#exampleModal">Thêm nhân viên</button>
    <button class="btn btn-success" style="margin-left: 20px;" (click)="ShowStaffNotAccount()">Các nhân viên chưa có tài khoản</button>
    <button class="btn btn-success" style="margin-left: 20px;" (click)="ShowStaffHasAccount()">Các nhân viên có tài khoản</button>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Chức năng</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of staff">
            <td>{{item.Ma_NV}}</td>
            <td>{{item.Ten_NV}}</td>
            <td>{{item.Ngay_Sinh}}</td>
            <td>{{checkSex(item.Gioi_Tinh)}}{{gender}}</td>
            <td>{{item.Dia_Chi}}</td>
            <td>{{item.SDT}}</td>
            <td>
              <button type="button" class="btn btn-primary">Sửa nhân viên</button>
              {{AddAccount(item.Check)}}
              <a class="btn btn-primary" routerLink="/register/{{item.Ma_NV}}" role="button" [hidden]="show">Thêm tài khoản</a> 
            </td>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form [formGroup]="staffData">
            <!---------------------------------------------------->       
            <div class="form-group">
              <label for="exampleFormControlInput1">Mã nhân viên</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="xxx" formControlName="Ma_NV" >
            </div>                               
            <!---------------------------------------------------->  
            <div class="form-group">
              <label for="exampleFormControlInput1">Tên nhân viên</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="xxx" formControlName='Ten_NV'>
            </div>
            <!---------------------------------------------------->  
            <div class="form-group">
              <label for="exampleFormControlInput1">Ngày sinh</label>
              <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="xxx" formControlName='Ngay_Sinh'>
            </div>
            <!---------------------------------------------------->  
            <div class="form-group">
              <label for="exampleFormControlInput1">Giới tính</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName='Gioi_Tinh'>
                <option  value="0">Nữ </option>
                <option  value="1">Nam </option>
              </select>
            </div>
            <!---------------------------------------------------->  
            <div class="form-group">
              <label for="exampleFormControlInput1">Địa chỉ</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="xxx" formControlName='Dia_Chi'>
            </div>
            <!----------------------------------------------------> 
            <div class="form-group">
              <label for="exampleFormControlInput1">Số điện thoại</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="xxx" formControlName='SDT' (keypress)="numberOnly($event)">
            </div>
            <!----------------------------------------------------> 
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
