<div class="wrapper">
  <div class="row">
    <div class="form-signin col-8">
      <form action="">
        <h2 class="form-signin-heading">Đăng ký tài khoản</h2>
        <input
          type="text "
          name="name"
          placeholder="Nhập họ và tên"
          required=""
          autofocus
        />
        <input
          type="date"
          name="birthday"
          required=""
          autofocus
          placeholder="Ngày sinh"
        />
        <input
          type="text"
          name="phonenumber"
          placeholder="Nhập số điện thoại"
          required=""
          autofocus=""
        />
        <div class="input-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Nhập mật khẩu"
          />
          <span>
            <i id="toggler" class="far fa-eye"></i>
          </span>
        </div>
        <div class="input-group">
          <input
            type="password"
            name="retype"
            id="retype"
            placeholder="Nhập lại mật khẩu"
          />
          <span>
            <i id="retypeToggler" class="far fa-eye"></i>
          </span>
        </div>
        <button class="btn btn-lg" type="submit">Đăng ký</button>
      </form>
    </div>
    <div class="bglogin col-4">
      <a class="title navbar-brand" href="#">NongSanSach.vn</a>
    </div>
  </div>
</div>
