<nav class="navbar navbar-expand-lg navbar-light">
  <a class="title navbar-brand" href="#">NongSanSach.vn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="row">
    <div class="col-6">
      <div class="col collapse navbar-collapse" id="search">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control i-search"
            type="search"
            placeholder="Tìm sản phẩm, danh mục,..."
          />
          <button class="btn btn-search btn-outline-success" type="submit">
            Tìm kiếm
          </button>
        </form>
      </div>
    </div>
    <div class="col-2">
      <div class="collapse navbar-collapse" id="cart">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <a href="#">
          Giỏ hàng
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="collapse navbar-collapse" id="account">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <a href="/login">Đăng nhập</a>
        <a href="/register">/ Đăng ký</a>
      </div>
    </div>
  </div>
</nav>
