<div class="row address">
  <div class="col">
    Trang chủ
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    Chi tiết sản phẩm
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    Chi tiết sản phẩm
  </div>
</div>
<div class="row row-detail">
  <div class="col-5 img">
    <img
      class="card-img-top"
      src="http://www.azspagirls.com/files/2010/09/orange.jpg"
      alt="Card image cap"
    />
    <div class="contact">
      <span>Chia sẽ:</span>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-facebook-messenger"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fas fa-link"></i></a>
    </div>
  </div>
  <div class="col-7 col-detail">
    <div class="title">
      <h2>Tên sản phẩm</h2>
    </div>
    <div class="price">
      <span>
        <span class="card-price">40,000đ</span>
        <span class="card-original-price">70,000đ</span>
      </span>
    </div>
    <div class="quantity">
      <p>Số lượng</p>
      <form id="myform" method="POST" action="#">
        <input type="button" value="-" class="qtyminus" field="quantity" />

        <input type="text" name="quantity" value="0" class="qty" />

        <input type="button" value="+" class="qtyplus" field="quantity" />
      </form>
    </div>
    <a routerLink="details" class="btn btn-primary" id="btn-them">
      Thêm vào giỏ hàng
    </a>
  </div>
</div>
<div class="row row-detail1">
  <h2>Thông tin sản phẩm</h2>
  <div class="row row-product-type">
    <div class="col-3 key"><span>Loại sản phẩm</span></div>
    <div class="col-9 value">&lt;thông tin loại&gt;</div>
  </div>
  <div class="row row-producer">
    <div class="col-3 key"><span>Nhà sản xuất</span></div>
    <div class="col-9 value">&lt;thông tin nhà sản xuất&gt;</div>
  </div>
</div>
<div class="row row-detail2">
  <h2>Mô tả sản phẩm</h2>
  <div class="col">
    <span>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      <br />
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </span>
  </div>
</div>
<div class="row row-detail3">
  <h2>Phám khá thêm</h2>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="cover">
          <p class="discount">-40%</p>
        </div>

        <img
          class="card-img-top"
          src="http://www.azspagirls.com/files/2010/09/orange.jpg"
          alt="Card image cap"
        />
        <div class="card-block">
          <h4 class="card-title">Orange</h4>
          <p class="card-price">40,000đ</p>
          <p class="card-original-price">70,000đ</p>
          <a routerLink="details" class="btn btn-primary" id="btn-them">
            Thêm
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="cover">
          <p class="discount">-40%</p>
        </div>

        <img
          class="card-img-top"
          src="http://www.azspagirls.com/files/2010/09/orange.jpg"
          alt="Card image cap"
        />
        <div class="card-block">
          <h4 class="card-title">Orange</h4>
          <p class="card-price">40,000đ</p>
          <p class="card-original-price">70,000đ</p>
          <a routerLink="details" class="btn btn-primary" id="btn-them">
            Thêm
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="cover">
          <p class="discount">-40%</p>
        </div>

        <img
          class="card-img-top"
          src="http://www.azspagirls.com/files/2010/09/orange.jpg"
          alt="Card image cap"
        />
        <div class="card-block">
          <h4 class="card-title">Orange</h4>
          <p class="card-price">40,000đ</p>
          <p class="card-original-price">70,000đ</p>
          <a routerLink="details" class="btn btn-primary" id="btn-them">
            Thêm
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <div class="cover">
          <p class="discount">-40%</p>
        </div>

        <img
          class="card-img-top"
          src="http://www.azspagirls.com/files/2010/09/orange.jpg"
          alt="Card image cap"
        />
        <div class="card-block">
          <h4 class="card-title">Orange</h4>
          <p class="card-price">40,000đ</p>
          <p class="card-original-price">70,000đ</p>
          <a routerLink="details" class="btn btn-primary" id="btn-them">
            Thêm
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="see-more">
    <a routerLink="#" class="btn btn-primary" id="btn-see-more">
      Xem thêm
    </a>
  </div>
</div>
