<div class="row">
  <div class="col">
    Trang chủ
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    Tài khoản
  </div>
</div>
<div class="row">
  <div class="col-3 col-left">
    <div class="row row-name">
      <div class="col-4"><i class="fas fa-user-circle"></i></div>
      <div class="col-8 name">
        <h6>Tài khoản của</h6>
        <h4>Nguyễn Minh Khang</h4>
      </div>
    </div>
    <div class="row menu">
      <a routerLink="/account">
        <i class="fas fa-user"></i>
        <span>Thông tin Tài khoản</span>
      </a>
      <a routerLink="./order-list">
        <i class="fas fa-bookmark"></i>
        <span>Quản lý đơn hàng</span>
      </a>
      <a routerLink="/edit-info">
        <i class="fas fa-location-arrow"></i>
        <span>Số địa chỉ</span>
      </a>
    </div>
  </div>
  <div class="col-9 col-right">
    <div class="cover-h3">
      <h3>Chi tiết đơn hàng #0001</h3>
    </div>
    <div class="cover">
      <div class="row row1">
        <div class="col address">
          <h5>ĐỊA CHỈ NGƯỜI NHẬN</h5>
          <div class="address-detail">
            <p><b>NGUYỄN MINH KHANG</b></p>
            <p>
              Địa chỉ: 201/13/1/31 nguyễn xí, p.26 , Q Bình thạnh, Phường 26,
              Quận Bình Thạnh, Hồ Chí Minh, Việt Nam
            </p>
            <span>Điện thoại: 0364772181</span>
          </div>
        </div>
        <div class="col payment">
          <h5>HÌNH THỨC THANH TOÁN</h5>
          <div class="payment-detail"><p>Thanh toán khi nhận hàng</p></div>
        </div>
      </div>
      <div class="row list-product">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><span>Sản phẩm</span></th>
              <th scope="col">Giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giảm giá</th>
              <th scope="col">Tạm tính</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="img-cart">
                <img
                  class="card-img-top"
                  src="http://www.azspagirls.com/files/2010/09/orange.jpg"
                  alt="Card image cap"
                />
              </td>
              <td>40,000đ</td>
              <td>
                4
              </td>
              <td>0đ</td>
              <td><div class="card-price">40,000đ</div></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Tổng tiền:</td>
              <td><div class="card-price">40,000đ</div></td>
            </tr>
          </tbody>
        </table>
        <div class="btn">
          <a type="submit" class="btn col btn-primary" id="btn-edit-update">
            Theo dõi đơn hàng
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
