<div class="cover">
  <h2>Giỏ hàng</h2>
  <div class="row">
    <div class="col-8 col-cart">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </th>
            <th scope="col"><span>Tất cả sản phẩm</span></th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
            <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="img-cart">
              <img
                class="card-img-top"
                src="http://www.azspagirls.com/files/2010/09/orange.jpg"
                alt="Card image cap"
              />
            </td>
            <td>40,000đ</td>
            <td>
              <form id="myform" method="POST" action="#">
                <input
                  type="button"
                  value="-"
                  class="qtyminus"
                  field="quantity"
                />

                <input type="text" name="quantity" value="0" class="qty" />

                <input
                  type="button"
                  value="+"
                  class="qtyplus"
                  field="quantity"
                />
              </form>
            </td>
            <td><div class="card-price">40,000đ</div></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="img-cart">
              <img
                class="card-img-top"
                src="http://www.azspagirls.com/files/2010/09/orange.jpg"
                alt="Card image cap"
              />
            </td>
            <td>40,000đ</td>
            <td>
              <form id="myform" method="POST" action="#">
                <input
                  type="button"
                  value="-"
                  class="qtyminus"
                  field="quantity"
                />

                <input type="text" name="quantity" value="0" class="qty" />

                <input
                  type="button"
                  value="+"
                  class="qtyplus"
                  field="quantity"
                />
              </form>
            </td>
            <td><div class="card-price">40,000đ</div></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 col-info">
      <div class="row info">
        <div class="col"><b>Giao tới</b></div>
        <div class="col a"><a routerLink="../edit-info">Thay đổi</a></div>
        <span class="name-phone">
          <span class="name"><b>Nguyễn Minh Khang</b></span>
          |
          <span class="phone"><b>0364772181</b></span>
        </span>
        <span>
          201/13/1/31 nguyễn xí, p.26 , Q Bình thạnh, Phường 26, Quận Bình
          Thạnh, Hồ Chí Minh
        </span>
      </div>
      <div class="row discount">
        <div class="title"><b>Khuyến mãi</b></div>
      </div>
      <div class="row sum">
        <table>
          <tr>
            <th><b>Tạm tính</b></th>
            <td>0đ</td>
          </tr>
          <tr>
            <th><b>Giảm giá</b></th>
            <td>0đ</td>
          </tr>
          <tr>
            <th><div class="line"></div></th>
            <td><div class="line"></div></td>
          </tr>
          <tr>
            <th><b>Tổng</b></th>
            <td>0đ</td>
          </tr>
        </table>
      </div>
      <div class="row order">
        <a routerLink="#" class="btn btn-primary" id="btn-order">
          Đặt hàng
        </a>
      </div>
    </div>
  </div>
</div>
