<div class="cover">
  <h2>Giỏ hàng</h2>
  <div class="row">
    <div class="col-8 col-cart">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </th>
            <th scope="col"><span>Tất cả sản phẩm</span></th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
            <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="img-cart">
              <img
                class="card-img-top"
                src="http://www.azspagirls.com/files/2010/09/orange.jpg"
                alt="Card image cap"
              />
            </td>
            <td>40,000đ</td>
            <td>
              <form id="myform" method="POST" action="#">
                <input
                  type="button"
                  value="-"
                  class="qtyminus"
                  field="quantity"
                />

                <input type="text" name="quantity" value="0" class="qty" />

                <input
                  type="button"
                  value="+"
                  class="qtyplus"
                  field="quantity"
                />
              </form>
            </td>
            <td><div class="card-price">40,000đ</div></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="img-cart">
              <img
                class="card-img-top"
                src="http://www.azspagirls.com/files/2010/09/orange.jpg"
                alt="Card image cap"
              />
            </td>
            <td>40,000đ</td>
            <td>
              <form id="myform" method="POST" action="#">
                <input
                  type="button"
                  value="-"
                  class="qtyminus"
                  field="quantity"
                />

                <input type="text" name="quantity" value="0" class="qty" />

                <input
                  type="button"
                  value="+"
                  class="qtyplus"
                  field="quantity"
                />
              </form>
            </td>
            <td><div class="card-price">40,000đ</div></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">thong dat hang</div>
  </div>
</div>
